<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>chatBilibili</title>
    <link rel="icon" href="../static/img/favicon.png" th:href="@{/img/favicon.png}">
    <link href="../static/css/semantic.min.css" th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css">
    <script src="../static/js/download/jquery-3.7.0.min.js" th:src="@{/js/download/jquery-3.7.0.min.js}"></script>
    <script src="../static/js/download/semantic.min.js" th:src="@{/js/download/semantic.min.js}"></script>
</head>
<body style="background: antiquewhite;">

<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="#" class="header item"  target="_blank">chatBilibili</a>
        <a href="https://github.com/HiNinoJay/chatBilibili" class="header item"  target="_blank">作者</a>
        <a href="https://live.bilibili.com" class="header item"  target="_blank">B站直播间</a>
        <button class=" ui right align top attached pink color  button loginButton" th:if="!(${loginUser}?exists)">
            登录
        </button>
    </div>
</div>

<br><br><br>


<!--二维码 和 cookie 登录-->
<div class="ui page dimmer pageDimmer">
    <div class="ui container">
        <div class="ui two column centered grid">
            <div class="ui column">

                <div class="ui centered grid">
                    <div class="ui loader imageLoaderDiv">
                        <img class="ui image qrCodeImg " src="../static/img/null.png" th:src="@{/img/null.png}">
                    </div>
                </div>

            </div>
            <div class="ui column">
                <br><br><br>
                <div class="ui fluid action input">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="cookieValue" type="text" placeholder="输入你的cookie...">
                    <div class="ui button setCookieButton">确认</div>
                </div>
                <div class="ui hidden green message loginSuccessMessage">登录成功</div>
                <div class="ui hidden negative message loginFailMessage">
                    <i class="close icon loginFailCloseIcon"></i>
                    <div class="header">
                        登陆失败
                    </div>
                    <p>请检查cookie获取方式是否正确。
                    </p></div>
            </div>
        </div>
        <div class="ui vertical divider">
            <span style="color:white">Or</span>
        </div>
    </div>
</div>


<div class="ui modal setNewChatGPTCharacterModal">
    <i class="close icon"></i>
    <div class="header">
        新增角色Prompt
    </div>
    <br><br>
    <div class="ui icon input">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="角色名称" class ="addNewAiCharacterInput">
    </div>
    <div class="image content">
        <textarea class = "addNewAiCharacterTextArea" style="width:100%;height:200px;" placeholder = "比如：如果你是一只猫，用猫的语气回答。（设置成功，之后每一次的请求，都会首先用到这里的描述，去让chatGPT扮演，做出回答。）"></textarea>
    </div>
    <div class="actions">
        <div class="ui black deny button testChatGPTHelloButton">
            测试
        </div>
        <div class="ui positive right labeled icon button addNewAiCharacterButton">
            新增
        </div>
    </div>
</div>
<!---->

<div class="ui container">


    <div class="ui attached segments">

        <div class="ui pink segment " th:if="${loginUser}?exists">
            <span class="" th:if="${loginUser}?exists">
                uid：<span class="" th:text="${loginUser.uid}"></span>
            </span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="" th:if="${loginUser}?exists">
                        用户名：<a class="" th:href="@{'https://space.bilibili.com/'+${loginUser.uid}}" th:text="${loginUser.uname}" target="_blank"></a>
            </span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a th:href="@{/view/loginOut}" class = "ui red button loginOutButton" th:if="${loginUser}?exists">
                退出登录
            </a>
        </div>
        <div class="ui segment roomInfoSegment">
            <a href="https://live.bilibili.com/" target="_blank">B站直播房间</a>
        </div>
        <div class="ui secondary segment connectStatusContentSegment">
                    <span class="ui connectStatusSpan">
                        当前未连接到任何房间...
                    </span>
        </div>
        <div class="ui dimmer segment danmuSegment">
            <div class="ui container danmuMessageBoardContainer" style="  overflow-y:scroll; height:500px">

                <div class = "danmuMessageBoard">
<!--                    <div class="ui visible message">-->
<!--                        <p>You can always see me</p>-->
<!--                    </div>-->
                </div>
            </div>
        </div>

        <div class="ui segment connectSegment">
            <div class="ui fluid action input ">
                <input type="text" placeholder="输入直播间号码，不登录无法发送弹幕。" class="connectInput">
                <button class="ui green button connectButton">连接</button>
            </div>
        </div>

        <div class="ui dimmer segment afterConnectSegment">
            <div class="ui two column grid ">
                <div class="ui column ">
                    <button class="ui fluid blue button showDanmuButton">显示弹幕</button>
                </div>
                <div class="ui column">
                    <button class="ui fluid red button closeConnectButton">断开连接</button>
                </div>
            </div>
        </div>
        <button class = "ui fluid bottom attached button oneStepAllSettingUsingButton">一键应用以下所有配置</button>




    </div>

    <br>


    <span>
        <span class="ui pink color header">弹幕设置</span>
        <button class="circular ui icon button danmuSettingUsingButton">应用</button>
    </span>
    <div class="ui segments">
        <div class="ui  pink segment danmuSettingSegment">
            <h3 style="color: black;">弹幕显示</h3>
            <div class="ui slider checkbox">
                <input type="checkbox" name="danmuStatus" checked="checked">
                <label>所有</label>
            </div>
            <div class="ui slider checkbox">
                <input type="checkbox" name="normalStatus" checked="checked">
                <label>普通</label>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="ui slider checkbox">
                <input type="checkbox" name="guardStatus" checked="checked">
                <label>舰长</label>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="ui slider checkbox">
                <input type="checkbox" name="vipStatus" checked="checked">
                <label>老爷</label>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="ui slider checkbox">
                <input type="checkbox" name="managerStatus" checked="checked">
                <label>房管</label>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="ui  segment giftSettingSegment ">
            <h3>礼物显示</h3>
            <div class="ui slider checkbox">
                <input type="checkbox" name="giftStatus" checked="checked">
                <label>所有</label>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="ui slider checkbox">
                <input type="checkbox" name="normalGiftStatus" checked="checked">
                <label>普通</label>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="ui slider checkbox">
                <input type="checkbox" name="scGiftStatus" checked="checked">
                <label>SC</label>
            </div>
        </div>
        <div class="ui  segment otherDanmuSettingSegment">
            <h3>其他</h3>
            <div class="ui slider checkbox">
                <input type="checkbox" name="danmuLogStatus" checked="checked">
                <label>弹幕记录</label>
            </div>
        </div>
    </div>

    <span>
        <span class="ui yellow color header">ChatGPT设置</span>
        <button class="circular ui icon button chatGPTSettingUsingButton">应用</button>
        <button class="circular ui icon button deleteAllChatGptCharacterButton">删除所有性格</button>
    </span>
    <div class="ui segments">
        <div class="ui yellow segment">
            <h3>回答频率</h3>

            <div class="ui form aiReplyForm">
                <div class="inline fields dadioFilds">
                    <div class="ui slider checkbox">
                        <input type="checkbox" name="aiReplyStatus" checked="checked">
                        <label>开关</label>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="zero" checked="checked">
                            <label>0句</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="one">
                            <label>1句</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="five">
                            <label>5句</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="ten">
                            <label>10句</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui  segment">
            <h3>性格选择</h3>
            <div class="ui grid">
                <div class="four wide column">
                    <div class="ui vertical fluid tabular menu chatGPTCharacterMenu">
<!--                        <a class="item" >Bio</a>-->
                        <a class="item makeNewChatGPTCharacter">自定义</a>
                    </div>
                </div>
                <div class="twelve wide stretched column">
                    <div class="ui segment chatGPTCharacterContentSegment">
                        选择你想要chatGPT扮演的角色并应用配置。
                        如果没有请点击自定义新增。
                        设置成功，之后每一次的请求，都会首先用到这里的描述，去让chatGPT扮演，做出回答。
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>


<script src="../static/js/index/websocket.js" th:src="@{/js/index/websocket.js}"></script>
<script src="../static/js/index/login.js" th:src="@{/js/index/login.js}"></script>
<script src="../static/js/index/room.js" th:src="@{/js/index/room.js}"></script>
<script src="../static/js/index/setting.js" th:src="@{/js/index/setting.js}"></script>

<script type="text/javascript" th:inline="javascript">


    $(document).ready(function(){
        console.log("开始载入所有配置。");
        // 载入所有设置
        var danmuStatus = [[${allSettingVo.danmuStatus}]];
        var normalDanmuStatus = [[${allSettingVo.normalDanmuStatus}]];
        var guardDanmuStatus = [[${allSettingVo.guardDanmuStatus}]];
        var vipDanmuStatus = [[${allSettingVo.vipDanmuStatus}]];
        var managerDanmuStatus = [[${allSettingVo.managerDanmuStatus}]];

        var giftStatus = [[${allSettingVo.giftStatus}]];
        var freeGiftStatus = [[${allSettingVo.freeGiftStatus}]];
        var guardBuyGiftStatus = [[${allSettingVo.guardBuyGiftStatus}]];
        var scGiftStatus = [[${allSettingVo.scGiftStatus}]];

        var aiReplyStatus = [[${allSettingVo.aiReplyStatus}]];
        var aiCharacterReqVoList = [[${allSettingVo.aiCharacterReqVoList}]];
        var usingAiCharacterName = [[${allSettingVo.usingAiCharacterName}]];
        var aiReplyNum = [[${allSettingVo.aiReplyNum}]];


        var $checkbox = $('.ui.slider.checkbox input[name="danmuStatus"]');
        $checkbox.prop('checked', danmuStatus);
        var $checkbox = $('.ui.slider.checkbox input[name="normalStatus"]');
        $checkbox.prop('checked', normalDanmuStatus);
        var $checkbox = $('.ui.slider.checkbox input[name="guardStatus"]');
        $checkbox.prop('checked', guardDanmuStatus);
        var $checkbox = $('.ui.slider.checkbox input[name="vipStatus"]');
        $checkbox.prop('checked', vipDanmuStatus);
        var $checkbox = $('.ui.slider.checkbox input[name="managerStatus"]');
        $checkbox.prop('checked', managerDanmuStatus);

        var $checkbox = $('.ui.slider.checkbox input[name="giftStatus"]');
        $checkbox.prop('checked', giftStatus);
        var $checkbox = $('.ui.slider.checkbox input[name="normalGiftStatus"]');
        $checkbox.prop('checked', freeGiftStatus);
        var $checkbox = $('.ui.slider.checkbox input[name="scGiftStatus"]');
        $checkbox.prop('checked', scGiftStatus);

        var $checkbox = $('.ui.slider.checkbox input[name="aiReplyStatus"]');
        $checkbox.prop('checked', aiReplyStatus);

        // 遍历数组
        aiCharacterReqVoList.forEach(function(character) {

            // 创建新的<a>标签元素
            var $newLink = $('<a>').addClass('item').text(character.name).data('name', character.prompt);
            if(usingAiCharacterName == character.name) {
                $newLink.addClass('active');
                $('.chatGPTCharacterContentSegment').text(character.prompt);
            }
            // 将新的<a>标签添加到.menu中
            $('.chatGPTCharacterMenu').prepend($newLink);
        });

        // 取消所有单选按钮的选中状态
        $('.aiReplyForm input[type="radio"]').prop('checked', false);

        // 根据aiReplyNum的值选中对应的单选按钮
        $('.aiReplyForm input[type="radio"][name="' + aiReplyNum + '"]').prop('checked', true);

        var haveConnectionFlag = [[${haveConnectionFlag}]];
        // 刷载入上一次的直播间连接
        if(haveConnectionFlag) {
            var inputRoomId = [[${roomId}]];

            $.when(connectMethod.connectRoom(inputRoomId).done(function(data) {

                if (data.code === "200") {
                    var roomInfo = data.result;
                    console.log("首页刷新重新连接成功");
                    $('.connectSegment').addClass('dimmer');
                    $('.afterConnectSegment').removeClass('dimmer');
                    // 修改内容
                    $('.connectStatusSpan').text("tips:根据B站官方隐私保护规则，如果没有登录，接收到的弹幕，用户名可能会带有星号。");
                    $('.roomInfoSegment').empty();
                    var connectRoomInfo  = `<span>` +
                                                "已连接到直播间：" +
                                                `<a href=`  + "https://live.bilibili.com/" + roomInfo.roomId  + `>` +
                                                    roomInfo.anchorName +
                                                `</a>` +
                                             `</span>`;
                    $('.roomInfoSegment').append(connectRoomInfo);

                } else {
                    console.log("首页刷新重新连接失败");
                }
            }));
        }
    });
</script>
</body>
</html>
